.filters {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
@media (max-width: 991.98px) {
  .filters {
    display: none;
  }
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  opacity: 0.7;
  margin: 0 1rem;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 500;
}
.filter:hover {
  opacity: 1;
}
.filter i {
  font-size: 1.2rem;
}
.filter p {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.line {
  height: 2px;
  width: 100%;
  border-radius: 20px;
  background-color: #aeaeae;
}
.filter:not(:hover) .line {
  opacity: 0;
}
